*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:violet;
}
.app{
    background-color:cyan;
    width:90%;
    max-width: 800px;
    justify-content:center;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    color:black;
    font-size: 40px;
    font-weight:600;
    border-bottom: 3px solid greenyellow;
    padding-bottom: 5px;
}
.quiz {
    padding: 20px;
}
.quiz h2 {
    color: black;
    font-size: 30px;
    font-weight:600;
}
.btn{
    background-color:white;
    color: black;
    font-weight: 600;
    padding: 10px;
    width:100%;
    border: 1px solid greenyellow;
    margin: 10px 0;
    text-align:left;
    border-radius: 5px;
    cursor:pointer;
    transition: all 0.3s;
}
.btn:hover{
    background: yellow;
    color:black;
}
#next-btn {
    background: pink;
    color: black;
    font-weight:600;
    padding: 10px;
    width: 150px;
    margin: 20px auto 0;
    border:0;
    border-radius:5px;
    text-align: center;
    cursor:pointer;
    display: none;
}







